<div id="centermain">
  <div id="center">
  <header class="container header">

    <a class="logo" href="/"><img src="/assets/images/logo.webp" alt=""></a>
    <nav class="header-nav container">

      
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/docs">Docs</a>
      <!-- <a href="#">Github</a> -->
    </nav>
    <button class="hamburger">

   <div class="bar"> </div>


    </button>
  </header>

<nav class="mobile-nav">

  <a href="/">Home</a>
  <a href="/blog">Blog</a>
  <a href="/docs">Docs</a>

</nav>
</div></div>